server {
	listen 80;
	server_name localhost 127.0.0.1 {{ ansible_default_ipv4.address }} {{ ansible_fqdn }} www.{{ ansible_fqdn }};
	root /usr/share/nginx/html/{{ db_name }};
	index index.php index.html;
	location / {
#		try_files $uri $uri/ =404;
		try_files $uri $uri/ /index.php?$args;
	}
	error_page 404 /404.html;
	error_page 500 502 503 504 /50x.html;

	location ~ \.php$ {
		try_files $uri =404;
		fastcgi_pass 127.0.0.1:9000;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		include fastcgi_params;
}
}
